body{
    background-image: linear-gradient(to bottom, #1f1f1f, #292929, #343434, #3e3f3f, #494a4b, #515253, #58595a, #606162, #666767, #6c6c6d, #727272, #787878);}
h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.navbar ul{
    list-style-type: none;
    background-color: #515253;
    padding: 15px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;

}

.navbar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 0%;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.navbar a:hover{
    background-color: #636265;
    border-radius: 10px 10px 10px 10px;
}

.navbar li{
    float: left;
}

.dropdown{
    width: auto;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover .dropdown {
    background-color: #858589;
    border-radius: 10px 10px 10px 10px;
    display: block;
}

.foto{
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
  height: 350px;
}

.logoSocialMedia{
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
  height: 100px;
  width: 100px;
  gap: 5px;
}

.nama{
    color: white;
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #515253;
    
}

.skill{
    color: white;
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #515253;
    border-radius: 10px 10px 10px 10px;
    backdrop-filter: blur(10px);
}

.explain{
    color: white;
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #515253;
    border-radius: 10px 10px 10px 10px;
    backdrop-filter: blur(10px);
}

.extra{
    color: white;
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #515253;
    border-radius: 10px 10px 10px 10px;
}

@media all and (max-width: 1024px){
    h1{
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    h2{
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    
    .navbar ul{
        list-style-type: none;
        background-color: #aeafb3;
        padding: auto;
        margin: auto;
        overflow: hidden;
        border-radius: 10px 10px 10px 10px;
    
    }
    
    .navbar a{
        color: white;
        font-size: 15px;
        text-decoration: none;
        padding: 0%;
        display: block;
        text-align: center;
        padding: auto;
        margin: 10px;
    }
    
    .navbar a:hover{
        background-color: #636265;
        border-radius: 10px 10px 10px 10px;
    }
    
    .navbar li{
        float: left;
    }
    
    .dropdown{
        width: auto;
        position: absolute;
        z-index: 999;
        display: none;
    }
    
    ul li:hover .dropdown {
        background-color: #858589;
        border-radius: 10px 10px 10px 10px;
        display: block;
    }

    .nama{
        font-size: 15px;
        order-radius: 10px 10px 10px 10px;
         backdrop-filter: blur(10px);
    }
    .skill{
        font-size: 15px;
        order-radius: 10px 10px 10px 10px;
         backdrop-filter: blur(10px);
    }
    .explain{
        font-size: 15px;
        order-radius: 10px 10px 10px 10px;
         backdrop-filter: blur(10px);
    }
    .extra{
        font-size: 15px;
        order-radius: 10px 10px 10px 10px;
         backdrop-filter: blur(10px);
    }

    .foto{
        display: block;
         margin-left: auto;
          margin-right: auto;
            border-radius: 10px 10px 10px 10px;
            height: 200px;
    }

    .logoSocialMedia{
        display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px 10px 10px 10px;
      height: 50px;
      width: 50px;
      gap: 5px;
    }
}